.gnb-icon-btn {
  @include flexbox;

  width: 32px;
  height: 32px;
  font-size: 24px;
  color: $secondary;
  transition: all 0.2s ease-in-out;

  &.is-menu {
    color: $blue;

    &:active {
      color: $blue-dark;
    }
  }

  &:active {
    color: $primary;
  }
}
